*{
    padding: 5px;
}
.leftside{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 280px;
    background-color: #00005f !important;
}
a{
    text-transform: capitalize;    
}
.nav-link:hover,
.nav-link.active{
    background-color: #0d6efd;
    background: lightslategray;
}
.content{
    position: fixed;
    top: 0px;
    left: 285px;
    height: 100vh;
    overflow: auto;
    width: calc(100% - 295px);
}
label{
    text-transform: capitalize;
}
.card{
    margin-top: 20px;
    margin-bottom: 15px;
}
.part-title{
    text-align: center;
    font-size: 15px;
    margin: 5px;
    background-color: aliceblue;
    padding: 15px 30px;
    width: fit-content;
    border-radius: 0px 25px;
    text-transform: capitalize;
    color: cadetblue;
}
.btn-secondary{
    padding:  5px 13px;
}
.imgView{
    height: 100px;
    width: 150px;
    border-radius: 13px;
}
.table-div{
    height: 496px;
    overflow: auto;
    border: 1px solid lightgray;
}
.item{
    padding-top: 35px;
}
.btn{
    font-size: 13px;
    color: white;
    text-transform: capitalize;
    margin: 2px;
}
.part-view{
    text-align: center;
    color: #7f8ea5;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 0px;
    font-weight: 600;
}
.dropdown .dropdown-toggle{
    cursor: pointer;
}
.dropdown-item{
    text-align: center;
    border-radius: 5px;
}
.dropdown-item:hover{
    background-color: #747474;
}
.dropdown-item::selection,
.nav-link::selection,
.dropdown-toggle strong::selection{
    background: none;
}
.more-view-open{
    display: block;
    animation-name: openMore;
    animation-duration: 1s;
}
// for icons
svg {
    vertical-align: bottom;
}

@keyframes openMore {
    from{opacity: 0;bottom: -30px}
    to{opacity: 1; bottom: 0px;}
}